body {
    background-color:#efeee7;
    font: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #333333;
}
#mainBio {
    color: gold;
    font-size: 28px;
    font-weight: bolder;
    background-color: black
}
#bioImage {
    height: 200px;
}